<header class="bg-dark text-white text-center py-2 border-bottom border-5 border-danger">
  <h1>Control de stock</h1>
</header>
<main>
  <section class="container">
    <div class="row g-3">
      <div class="col-12 col-md-4">
        <app-form-product></app-form-product>
      </div>
      <div class="col-12 col-md-8">
        <app-products-list></app-products-list>
      </div>
      <div class="col-12">
        <app-total></app-total>
      </div>
    </div>
  </section>
</main>
<footer class="bg-dark text-white p-1 fixed-bottom">
  Copyright&copy;2025
</footer>
