<nav class="p-2 navbar navbar-expand-lg bg-warning border-5 border-bottom border-black">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">
      <figure>
        <img class="logo" src="https://cdn-icons-png.flaticon.com/512/16/16106.png" alt="">
      </figure>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto fs-1">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/usuarios']">Usuarios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
