<p>register works!</p>
<div class="register-form">
  <form action="" [formGroup]="registerForm" >
    <div>
      <label for="inputUsername">Username</label>
        <input type="text" id="inputUsername" formControlName="Username" />
    </div>
    <div>
      <label for="inputEmail">Email</label>
        <input type="text" id="inputEmail" formControlName="email" />
    </div>
    <div>
      <label for="inputPassword">Password</label>
        <input type="text" id="inputPassword" formControlName="Password" />
    </div>
  </form>
</div>
